.main {
  width: 450px;
  height: 390px;
  background-color: #FFD580;
  margin: 100px auto 0 auto;
  text-align: center;
}

@media (max-width: 650px) {
  .main {
    width: 430px;
  }
}

@media (max-width: 510px) {
  .main {
    height: 380px;
    width: 380px;
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .main {
    width: 100%;
    font-size: 14.5px;
  }
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 300px;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 25px;
  border: none;
}

@media (max-width: 650px) {
  input[type="text"], input[type="password"], input[type="email"] {
    width: 280px;
  }
}

@media (max-width: 510px) {
  input[type="text"], input[type="password"], input[type="email"] {
    width: 250px;
  }
}

.system_sign_up {
  height: 70px;
  width: 70px;
  margin: -36px 0 20px 0;
}

@media (max-width: 510px) {
  .system_sign_up {
    height: 65px;
    width: 65px;
    margin: -34px 0 20px 0;
  }
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

@media (max-width: 650px) {
  .btn {
    padding: 10px 25px;
  }
}

@media (max-width: 510px) {
  .btn {
    padding: 8px 22px;
  }
}

.btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #FF5733;
  color: #fff;
}